<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=title%></title>
    <%-include("partials/header")-%>
  </head>
  <body>
    <div class="container">
      <h1 class="mt-4 mb-5"><%=title%></h1>
      <p><%=story%></p>
    </div>
  </body>
</html>
